<section class="thirteen columns">
    <h1>Data Science &amp; Tech Experience</h1>
        <article>
        <header>
            <h1>The University of Texas at Austin</h1>
            <span>Research Assistant &amp; Statistical Consultant</span>
            <span><address>Austin, TX</address><time>2011 to 2017</time></span>
        </header>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
            Lead programmer, researcher, and consultant on a number of large data projects using network data, machine-coded political event data or non-profit IRS data (Hundreds of gb and millions of observations).
            </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
            Performed complex statistical analyses and diagnostics (See quantitative methods above).
            </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
            Developed new methods for solving complex problems, e.g. imputation of bipartite network data.
            </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
            Optimized programming and hardware use to overcome speed issues with large matrix calculations (millions).
            </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
            Managed/cleaned large datasets including survey, network, and spatial data using a variety of files and formats such as csv, xls, dta, xml, json, sql, etc.
            </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
            Collaborated with numerous experts in the field to collect, evaluate, and analyze data.
            </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
            Diagnosed and treated data problems including missing data, outliers, model fit, etc.
            </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
            Wrote-up and presented methods and statistical results for diverse non-technical audiences.
            </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
            Provided data and statistical consulting to professors and graduate students in various departments including Sociology, Government, Educational Psychology, and the McCombs School of Business.
            </p>
    </article>
    <article>
        <header>
            <h1><a href="http://www.overleaf.com">Overleaf.com</a></h1>
            <span>TeXpert</span>
            <span><address>London, UK</address><time>2014 to 2016</time></span>
        </header>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Self-taught LATEX expert. &nbsp;|&nbsp; Template design. &nbsp;|&nbsp; Worldwide troubleshooting for technical users.
        </p>
    </article>
</section>
