<section class="thirteen columns">
    <h1>Data Science &amp; Professional Experience</h1>
        <article>
        <header>
            <h1>Data Scientist</h1>
            <span>UT Austin &#8212; May 2017 to Current</span>  
        </header>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
            Building dashboard-style website with dynamic visualizations, summary data, and record lookup, with a SQL backend database.
            </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
            Built dataset with millions of nonprofit IRS returns (100GB+).
            </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
            Wrote Python code to flatten unstructured xmls into structured csv/SQL data. Wrote R analytics code.
            </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
            Wrote optimized Linux/Bash code to improve the accuracy of messy csv data processing and reduce run
            s from weeks to hours.
            </p>
    </article>
    <article>
        <header>
            <h1>Data / Stats Research &amp; Consulting</h1>
            <span>UT Austin &#8212; January 2011 to May 2017</span>
        </header>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Hired for data/programming skills by 4 Professors during 13 semesters as a Research Assistant.
        </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Built 6 datasets with 100s of GB of data from many data types (structured, unstructured, spatial, network, demographic, temporal sources, etc.)
        </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Fitted and interpreted complex models (network analysis, multi-level/mixed-effects regressions, and survival analysis, etc.).
        </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Wrote R and Stata functions to perform custom calculations (e.g. a genetic algorithm to estimate network core-periphery position of nodes).
        </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Developed a new method for diagnosing and imputing missing data in time-series, network data, using multi-level and Bayesian prediction.
        </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Designed/programmed replicable data visualizations (2D, time-series, network, and maps).
        </p>
    </article>
    <article>
        <header>
            <h1>Dissertation Research</h1>
            <span>UT Austin &#8212; January 2012 to May 2017</span>
        </header>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Built unique dataset by (1) geocoding map data, (2) reducing data of over 150gb, (3) government data in Arabic and French.
        </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Predicted protest and violence during the Tunisian Revolution of 2010-11, with temporal and spatial effects, using time series and survival models.
        </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Wrote up and presented methods/results for non-technical audiences, leading to 4 published, peer-reviewed journal articles.
        </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Collaborated with experts in various fields.
        </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Frequently consulted on data in department.
        </p>
    </article>
    <article>
        <header>
            <h1>Stats &amp; Methods Teaching</h1>
            <span>UT Austin &#8212; January 2012 to May 2017</span>
        </header>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Personally selected by Professors in several departments for expertise to assistant teach stats, programming, and methods for 6 semesters
(4 for Ph.D. students, and 2 for undergrads).
        </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Designed stats programming labs for Stata, still in use by Sociology Department.
        </p>
    </article>
    <article>
        <header>
            <h1>Policy &amp; Program Work</h1>
            <span>United Nations Development Programme &#8212; May 2005 to July 2010</span>
        </header>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        </p>
        Policy & program advisor to high-level UN o cials working on political/economic development in Arab countries. Based in Beirut and New York.
        </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Strategic planning & program management.
        </p>
    </article>
</section>
