<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Ph.D. in Sociology</h1>
            <span>The University of Texas at Austin</span>
            <span><address>Austin, TX</address><time>2010 to 2016</time></span>
        </header>
        <p>Dissertation: "Missing Data": Revising Political Sociology with Overlooked Data.</p>
        <p>Four published journal articles; two under review; three in progress; and five conference presentations.</p>
    </article>
    <article>
        <header>
            <h1>Fulbright Fellowship</h1>
            <span>L'Institut Français du Proche-Orient</span>
            <span><address>Damascus, Syria</address><time>2004 to 2005</time></span>
        </header>
        <p>Arabic Language and Literature.</p>
    </article>
        <article>
        <header>
            <h1>M.A. in Arab Studies (Politics)</h1>
            <span>Georgetown University</span>
            <span><address>Washington, D.C.</address><time>2002 to 2004</time></span>
        </header>
         <p>with Honors and Cum Laude.</p>
    </article>
            <article>
        <header>
            <h1>B.A. in French/Spanish, and Religious Studies</h1>
            <span>New York University</span>
            <span>New York, NY<address></address><time>1998 to 2002</time></span>
        </header>
         <p>with Honors, Magna Cum Laude and Phi Beta Kappa.</p>
    </article>
            <article>
        <header>
            <h1>Other Education</h1>
            <span>Columbia University - (Certificate in Program Management)</span>
            <span><address>New York, NY</address><time>2008 to 2009</time></span><br>
            <span>Columbia University - (Arabic Language)</span>
            <span><address>New York, NY</address><time>Summer 2002</time></span><br>
            <span>L'Institut Français du Proche-Orient - (Arabic Language)</span>
            <span><address>Damascus, Syria</address><time>Summer 2003</time></span><br>
            <span>Instituto Internacional - (Spanish Language)</span>
            <span><address>Madrid, Spain</address><time>Spring 2002</time></span><br>
            <span>L'Institut Catholique - (Religious Studies)</span>
            <span><address>Paris, France</address><time>2000 to 2001</time></span>
        </header>
    </article>
         <article>
        <header>
            <h1>Honors and Awards</h1>
            <span>Scholarships for B.A., M.A., and Ph.D. and numerous fellowships including Fulbright.</span>
        </header>
    </article>
</section>
