<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Ph.D. in Sociology</h1>
            <span>The University of Texas at Austin</span>
            <span><address>Austin, TX</address><time>2010 to 2016</time></span>
        </header>
        <p><em>Dissertation: "Missing Data": Revising Political Sociology with Overlooked Data.</em></p>
        <p>Four published journal articles; two articles under review; and five conference presentations.</p>
    </article>
    <article>
        <header>
            <h1>Fulbright Fellowship</h1>
            <span>L'Institut Français du Proche-Orient</span>
            <span><address>Damascus, Syria</address><time>2004 to 2005</time></span>
        </header>
        <p><em>Arabic Language and Literature.</em></p>
        {{\bf M.A.}, Georgetown University (Arab Studies/Politics), {\em with Honors \& Cum Laude} \hfill 2004} 
    </article>
        <article>
        <header>
            <h1>M.A. in Arab Studies</h1>
            <span>Georgetown University</span>
            <span><address>Washington, D.C.</address><time>2002 to 2004</time></span>
        </header>
    </article>
            <article>
        <header>
            <h1>B.A. in French/Spanish, and Religious Studies</h1>
            <span>New York University</span>
            <span>New York, NY<address></address><time>1998 to 2002</time></span>
        </header>
    </article>
            <article>
        <header>
            <h1>Other Education</h1>
            <span>Columbia University</span>
            <span><address>New York, NY</address><time></time></span>
        </header>
        <p>
            <em></em>
        </p>
    </article>
    
</section>




{{\bf B.A.}, New York University (French, Spanish, Religious Studies), {\em with Honors \& Magna Cum Laude} \hfill 2002}

\hangindent=.5em {{\bf Additional study:} {\em L'Institut Fran\c{c}ais du Proche-Orient} (Damascus), Columbia University\\
(New York), {\em L'Institut Catholique} (Paris), and {\em Instituto Internacional} (Madrid)}

{{\bf Honors \& Awards:} Scholarships for B.A., M.A. and Ph.D., and numerous fellowships including Fulbright.}
