<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>The University of Texas at Austin -- Ph.D.</h1>
            <span>Sociology and Quantitative Methods</span>
            <span><address>Austin, TX</address><time>May 2017</time></span>
        </header>
    </article>
     <article>
        <header>
            <h1>Columbia University -- Certificate in Program Management</h1>
            <span>UNDP Virtual Development Academy</span>
            <span><address>New York, NY</address><time>2008 to 2009</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Fulbright Fellowship - L'Institut Français du Proche-Orient</h1>
            <span>Arabic Language and Literature.</span>
            <span><address>Damascus, Syria</address><time>2004 to 2005</time></span>
        </header>
    </article>
        <article>
        <header>
            <h1>Georgetown University -- M.A.</h1>
            <span>Arab Studies (Politics), with Honors and Cum Laude.</span>
            <span><address>Washington, D.C.</address><time>2002 to 2004</time></span>
        </header>
    </article>
            <article>
        <header>
            <h1>New York University -- B.A.</h1>
            <span>French, Spanish, and Religious Studies, with Honors, Magna Cum Laude and Phi Beta Kappa.</span>
            <span>New York, NY<address></address><time>1998 to 2002</time></span>
        </header>
    </article>
            <article>
        <header>
            <h1>Study Abroad and Language Study</h1>
            <span>Columbia University - (Arabic Language)</span>
            <span><address>New York, NY</address><time>Summer 2002</time></span><br>
            <span>L'Institut Français du Proche-Orient - (Arabic Language)</span>
            <span><address>Damascus, Syria</address><time>Summer 2003</time></span><br>
            <span>Instituto Internacional - (Spanish Language)</span>
            <span><address>Madrid, Spain</address><time>Spring 2002</time></span><br>
            <span>L'Institut Catholique - (Religious Studies)</span>
            <span><address>Paris, France</address><time>2000 to 2001</time></span>
        </header>
    </article>
         <article>
        <header>
            <h1>Honors and Awards</h1>
            <span>Scholarships for B.A., M.A., and Ph.D. and numerous fellowships including Fulbright.</span>
        </header>
    </article>
</section>
