<section class="thirteen columns">
    <h1>Recent Experience</h1>
        <article>
        <header>
            <h1>Research Assistant &amp; Statistical Consultant @ The University of Texas at Austin</h1>
            <span><address>Austin, TX</address><time>2011 to 2016</time></span>
        </header>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Lead programmer and research assistant/consultant on a number of large data projects.</p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Performed complex statistical analyses including multivariate &amp; logistic regression, 
        multilevel (mixed models), time series and spatial regressions, survival analysis, factor analysis and simultaneous equation modeling, 
        bayesian predictive modeling, network analysis, bipartite imputation, and genetic algorithms.</p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Managed/cleaned large datasets on the order of hundreds of GB, including survey, network, and machine-coded, spatial data.</p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Conducted advanced statistical analyses including multi-level, spatial and network analysis.</p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Wrote-up and presented technical methods and statistical results for a diverse audience.</p>
        <p></p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Provided data and statistical consulting advice to other Professors and Graduate Students.</p>
    </article>
        <article>
        <header>
            <h1>Teaching Assistant @ The University of Texas at Austin</h1>
            <span><address>Austin, TX</address><time>2012, 2014, 2016</time></span>
        </header>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Taught advanced statistics &amp; programming to Ph.D. students.</p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Designed lab tutorial series for Stata programming.</p>
    </article>
    <article>
        <header>
            <h1>TeXpert @ <a href="http://www.overleaf.com">Overleaf.com</a></h1>
            <span><address>London, UK</address><time>2014 to 2016</time></span>
        </header>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Provided technical support to LaTeX users.</p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Designed LaTeX templates.</p>
    </article>
    <article>
        <header>
            <h1>Special Assistant &amp; Senior Researcher @ The United Nations Development Programme</a></h1>
            <span><address>New York, NY &amp; Beirut, Lebanon</address><time>2005 to 2010</time></span>
        </header>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;Policy/program advisor. 
        &nbsp;&nbsp;|&nbsp;&nbsp; Speech/grant/report writing. &nbsp;&nbsp;|&nbsp;&nbsp; 
        Diplomatic liaison. &nbsp;&nbsp;|&nbsp;&nbsp; Strategic planning. </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;Program management. 
        &nbsp;&nbsp;|&nbsp;&nbsp; Monitoring and evaluation. &nbsp;&nbsp;|&nbsp;&nbsp; 
        Capacity development. &nbsp;&nbsp;|&nbsp;&nbsp; Curriculum design.</p>
    </article>
</section>
