<section class="thirteen columns">
    <h1>Recent Experience</h1>
    <article>
        <header>
            <h1>TeXpert @ </h1>
            <span><address>Edinburgh, UK</address><time>2015 to Present</time></span>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>
    
\TeX pert @ <a href="http://www.overleaf.com">Overleaf.com</a>

\hfill 2014-2016} \vspace{+3pt}\\
{$\cdot$ Provided technical support to \LaTeX users.}\\
{$\cdot$ Designed \LaTeX templates.}

\hangindent=.5em {Teaching Assistant @ The University of Texas at Austin \hfill {2012, 2014, 2016}\vspace{+3pt}\\
{$\cdot$ Taught advanced statistics \& programming to Ph.D. students.}

\hangindent=.5em {Research Assistant \& Statistical Consultant @ The University of Texas at Austin} \hfill {2011-2016}\vspace{+3pt}\\
{$\cdot$ Lead programmer and research assistant/consultant on a number of projects with \\
\-\ \-\ \-\ Professors Pamela Paxton, Kishore Gawande, and Alexander Weinreb.}\\
{$\cdot$ Managed/cleaned large datasets, including survey, network, and machine-coded, spatial data.}\\
{$\cdot$ Conducted advanced statistical analyses including multi-level, spatial and network analysis.}\\
{$\cdot$ Wrote-up and presented technical methods and statistical results for a diverse audience.}\\
{$\cdot$ Provided data and statistical consulting advice to other Professors and Graduate Students.}

\hangindent=.5em {Special Assistant \& Senior Researcher} @ The United Nations Development Programme \hfill {2005-2010}\vspace{+3pt}\\
{$\cdot$ Policy/program advisor. Speech/grant/report writing. Diplomatic liaison. Strategic planning.}\\
\-\ \-\ \-\ {Program management. Monitoring and evaluation. Capacity development. Curriculum design.}

    
</section>
