<section class="thirteen columns">
    <h1>Program Management &amp; Training Experience</h1>
        <article>
        <header>
            <h1>The University of Texas at Austin</h1>
            <span>Teaching Assistant</span>
            <span><address>Austin, TX</address><time>2012 to 2017</time></span>
        </header>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Assistant taught advanced statistics &amp; programming to Ph.D. students (3 semesters).</p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        As first grad-to-grad TA, designed lab tutorial series for statistical programming in Stata, used by department.</p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Assistant taught intro undergraduate Social Statistics (1 semester) and Research Methods (1 semester).</p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;
        Assistant taught graduate Research Methods in the Educational Psychology Department upon request (1 semester).</p>
    </article>
    <article>
        <header>
            <h1>The United Nations Development Programme</h1>
            <span>Special Assistant &amp; Senior Researcher</span>
            <span><address>New York, NY &amp; Beirut, Lebanon</address><time>2005 to 2010</time></span>
        </header>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;Policy/program advisor. 
        &nbsp;&nbsp;|&nbsp;&nbsp; Speech/grant/report writing. &nbsp;&nbsp;|&nbsp;&nbsp; 
        Diplomatic liaison. &nbsp;&nbsp;|&nbsp;&nbsp; Strategic planning. </p>
        <p><font size="1"><i class="fa fa-cog"></i></font>&nbsp;&nbsp;Program management. 
        &nbsp;&nbsp;|&nbsp;&nbsp; Monitoring and evaluation. &nbsp;&nbsp;|&nbsp;&nbsp; 
        Capacity development. &nbsp;&nbsp;|&nbsp;&nbsp; Curriculum design.</p>
    </article>
</section>
