<section class="thirteen columns">
    <h1>Publications</h1>
        <article>
        <header><h1>Publications and Preprints</h1></header>
         <div style="height:7px;font-size:7px;">&nbsp;</div>
          <p style="margin-left:.2in;text-indent:-.2in"><a href="http://www.tandfonline.com/doi/abs/10.1080/00207659.2016.1130416">Reith, Nicholas E., Pamela Paxton, and Melanie M. Hughes. 2016. “Cross-National, Longitudinal Data Sets: Issues and Strategies for Implementation.” International Journal of Sociology 46 (1). doi:10.1080/00207659.2016.1130416.</a></p>
         <div style="height:5px;font-size:5px;">&nbsp;</div>
          <p style="margin-left:.2in;text-indent:-.2in">Hughes, Melanie M., Pamela Paxton, Sharon Quinsaat, and Nicholas E. Reith. 2016. “Does the Global North Still Dominate Women’s International Organizing? A Network Analysis from 1978 to 2008.” Mobilization (Forthcoming).</p>
         <div style="height:5px;font-size:5px;">&nbsp;</div>
          <p style="margin-left:.2in;text-indent:-.2in"><a href="https://www.sociologicalscience.com/articles-v2-14-287/">Paxton, Pamela, Melanie M. Hughes, and Nicholas E. Reith. 2015. “Extending the INGO Network Country Score, 1950-2008.” Sociological Science 2: 287–307. doi:10.15195/v2.a14.</a</p>
         <div style="height:5px;font-size:5px;">&nbsp;</div>
          <p style="margin-left:.2in;text-indent:-.2in"><a href="http://link.springer.com/article/10.1007/s13644-014-0169-y">Paxton, Pamela, Nicholas E. Reith, and Jennifer L. Glanville. 2014. “Volunteering and the Dimensions of Religiosity: A Cross-National Analysis.” Review of Religious Research 56 (4). doi:10.1007/s13644-014-0169-y.</a></p>
        </article>
        <article>
        <header><h1>Under Review</h1></header>
         <div style="height:7px;font-size:7px;">&nbsp;</div>
          <p style="margin-left:.2in;text-indent:-.2in">Reith, Nicholas E. "Tribes, Revolution and INGOs: Toward Better Social Science Measurement. DISSERTATION. Completed. Forthcoming after May 2017.</p>
         <div style="height:7px;font-size:7px;">&nbsp;</div>
          <p style="margin-left:.2in;text-indent:-.2in">Reith, Nicholas E. 2016. “The Local Process of Revolution: Tribes, Dissent, and Repression in Tunisia’s Arab Spring.” Under Review.</p>
         <div style="height:5px;font-size:5px;">&nbsp;</div>
          <p style="margin-left:.2in;text-indent:-.2in">Gawande, Kishore, and Nicholas E. Reith. 2016. “Land, Protests and Suppression in China: A Spatial and Temporal Analysis.” Under Review.</p>
        </article>
        <article>
        <header><h1>In Progress</h1></header>
         <div style="height:7px;font-size:7px;">&nbsp;</div>
          <p style="margin-left:.2in;text-indent:-.2in">Reith, Nicholas E., Pamela Paxton, Melanie M. Hughes, and Wade M. Cole. 2016. “Entering the World Polity: A Research Note on Measurement and Statistical Modeling.” In Progress.</p>
         <div style="height:5px;font-size:5px;">&nbsp;</div>
          <p style="margin-left:.2in;text-indent:-.2in">Reith, Nicholas E., and Mounira Maya Charrad. 2016. “The Strength of Strong Ties: Tribal Solidarities and the Tunisian Revolution.” In Progress.</p>
    </article>
</section>
