<section class="thirteen columns">
    <h1>Skills &amp; Community</h1>
    <article>
        <header>
            <h1>Programming &amp; Software</h1>
        </header>
        <p>R, Python (Pandas, NumPy), SQL, Stata, LaTeX, Bash, Tableau, ArcGIS, Git, &amp; HTML/CSS</p>
        <header>
        <h1>Data Skills</h1>
        </header>        
         <p>Data wrangling/cleaning, Missing data/imputation, Data mining, Machine learning,
Feature engineering, Networks, Spatial techniques, and Visualization</p>
        <header>
            <h1>Quantitative Methods</h1>
        </header>        
         <p>Regression techniques (Multivariate, Categorical, Factor analysis, Structural and
simultaneous equations, Event history / Survival analysis, Multi-level / Hierarchical linear, Time-series / Longitudinal, 
             Spatially-weighted, Bayesian prediction), Outliers and other Diagnostics, Missing data treatment, Research design, Network analysis, and Genetic algorithms</p>
         <header>
            <h1>Languages</h1>
        </header>        
         <p>Fluent in French, Spanish, and Arabic.</p>
     <header>
            <h1>Volunteerism</h1>
        </header>        
         <p>Founder of monthly free/low-cost car care clinic, Giving Gears. Occasional volunteer translator for
Austin service organizations including Justice for Our Neighbors and the Center for Survivors of Torture.</p>
    </article>
</section>
