<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Programming &amp; Software</h1>
        </header>
        <p>R, Python, SQL, Linux/Unix, Tableau, Stata, LaTeX, ArcGIS, &amp; Git</p>
        <header>
            <div style="float: left; width: 50%;">
                <h1>Statistics</h1>
                </header>        
                 <p>Regression and modeling techniques</p>
                 <p>Multi-level and simultaneous equations</p>
                 <p>Temporal and spatial modeling</p>
                 <p>Network analysis and metrics</p>
                 <p>Algorithms and modeling</p>
                 <p>Diagnostics: model fit/outliers/assumptions</p>
            </div>
            <div style="float: right; width: 50%;">
             <header>
                <h1>Data Skills</h1>
                </header>        
                 <p>Data mining and dataset construction</p>
                 <p>Data wrangling/munging</p>
                 <p>Feature extraction/engineering</p>
                 <p>Missing data/imputation</p>
                 <p>Machine learning</p>
                 <p>Visualization</p>
            </div>
        <header>
            <h1>Languages</h1>
        </header>        
         <p>Fluent in French, and Spanish, with Advanced Arabic.</p>
     <header>
</section>
