<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Programming & Software</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>R</em>, <em>Stata</em> &amp;  <em>LaTeX</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Python</em>, <em>Bash</em>, <em>SQL</em>, <em>Tableau</em>, <em>ArcGIS</em>, <em>Git</em>, &amp; <em>HTML/CSS</em>
        </p>
        <header>
            <h1>Data Skills</h1>
        </header>        
         <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Data cleaning</em>, <em>Missing data/imputation</em>, <em>Big data</em>, <em>Networks</em>, <em>Geo-Spatial</em> &amp;  <em>Visualization</em>.
        </p>
        <header>
            <h1>Quantitative Methods</h1>
        </header>        
         <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp; Regression techniques (Multivariate, Categorical, Structural and simultaneous equations, Event history/Survival analysis, Multi-level/Hierarchical linear, Time-series/Longitudinal, and Spatially-weighted), Diagnostics, Research design, Network analysis &amp;  Genetic algorithms
        </p>
         <header>
            <h1>Languages</h1>
        </header>        
         <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;Fluent in <em>French</em>, <em>Spanish</em> and <em>Arabic</em>.
        </p>
    </article>
</section>
